.account-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 255px;
    height: 40px;
}
.setting-header {
    width: 24px;
    height: 24px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-header {
    width: 98px;
    height: 36px;
    color: #3ea6ff;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 100rem;
    border: 1px solid #323232;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
.user-icon {
    width: 24px;
    height: 24px;
}
.sign-header:hover {
    background-color: #244157;
}
.user-icon svg {
    width: 100%;
    height: 100%;
}
